<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <title>Document</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
{{#partial "nav"}}
    <div class="black">
    <div class="background">
    <div class="nav">

        <p class="home">Home</p>
        <p class="about">ABOUT</p>
        <p class="sightings"> SIGHTINGS</p>
    </div>
{{/partial}}
{{#partial "content"}}
    <p class="welcome">Welcome to</p>
    <p class="linda">LINDA</p>
    <p class="serve">Here to serve and protect our wildlife</p>

    <form action="/form">
        <button class="started" >Get started</button>
    </form>
    <img src="/images/lion7.jpg" alt="" class="lion">
    <div class="cream">

    </div>
    <p class="questions">If you have any questions or concerns</p>
    <p class="email">regarding sightings, email</p>
    <p class="google">linda@google.com</p>
    <p class="corporation">LINDA CORPORATION</p>
    <p class="twentytwo">2022</p>
    </div>
    </div>

{{/partial}}
<div class="footer">
</div>
</body>

</html>
{{> layout.hbs}}

