<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <title>Document</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>

<form action ="/" >
    <p class="new">Create a new hero</p>
    <div>
        <label for="name" class="enter"> animals name </label>
        <input type="text" id="name" name = "name" class="input1">
    </div>
    <div>
        <label for="age" class="age">Their age</label>
        <input type="text" id="age" name="age" class="input2">

    </div>
    <div>
        <label for="location" class="age">Their location</label>
        <input type="text" id="location" name="location" class="input2">

    </div>
    <div>
        <label for="health" class="age">Their health </label>
        <input type="text" id="health" name="health" class="input2">
        <button>Submit</button>
    </div>

</form>

</body>

</html>